{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "printWidth": 150,
    "endOfLine": "crlf",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss", "prettier-plugin-classnames", "prettier-plugin-merge"],
    "tailwindStylesheet": "./app/globals.css"
}
